@using System.Collections.Generic
@model LoginViewModel
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Log in";
}

@section stylesheets {
    <link rel="stylesheet" type="text/css" href="~/css/login.css">
}

@*<h2>@ViewData["Title"].</h2>
    <div class="row">
        <div class="col-md-8">
            <section>
                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                <input asp-for="RememberMe" />
                                <label asp-for="RememberMe"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default">Log in</button>
                        </div>
                    </div>
                    <p>
                        <a asp-action="Register">Register as a new user?</a>
                    </p>
                    <p>
                        <a asp-action="ForgotPassword">Forgot your password?</a>
                    </p>
                </form>
            </section>
        </div>
        <div class="col-md-4">
            <section>
                <h4>Use another service to log in.</h4>
                <hr />
                @{
                    var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                    if (loginProviders.Count == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                            <div>
                                <p>
                                    @foreach (var provider in loginProviders)
                                    {
                                        <button type="submit" class="btn btn-default" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">@provider.AuthenticationScheme</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>*@

<div class="ui middle aligned center aligned very relaxed stackable grid">
    <div class="row">
        <div class="bottom aligned column">
            <h1 class="ui teal image header">
                <img src="../images/logo.png" class="image">
                <div class="content">
                    Log-in using
                </div>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="tablet four wide computer two wide column">
            <div class="ui list">
                <div class="item">
                    <button class="fluid ui facebook button">
                        <i class="facebook icon"></i>
                        Facebook
                    </button>
                </div>
                <div class="item">
                    <button class="fluid ui twitter button">
                        <i class="twitter icon"></i>
                        Twitter
                    </button>
                </div>
                <div class="item">
                    <button class="fluid ui google plus button">
                        <i class="google plus icon"></i>
                        Google Plus
                    </button>
                </div>
                <div class="item">
                    <button class="fluid ui linkedin button">
                        <i class="linkedin icon"></i>
                        LinkedIn
                    </button>
                </div>
            </div>
        </div>
        <div class="ui vertical divider">
            Or
        </div>
        <div class="tablet six wide computer three wide column">
            @*<h2 class="ui teal image header">
                    <img src="../images/logo.png" class="image">
                    <div class="content">
                        Log-in to your account
                    </div>
                </h2>*@
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="ui large form validate-me" role="form">
                <div class="ui stacked right aligned segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input asp-for="Email" placeholder="E-mail address">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input asp-for="Password" type="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui right floated checkbox">
                            <input asp-for="RememberMe" type="checkbox" />
                            <label asp-for="RememberMe"></label>
                        </div>
                    </div>
                    <button type="submit" class="ui fluid large teal button">Login</button>
                </div>

                <div asp-validation-summary="ValidationSummary.All" class="ui error message"></div>

            </form>

            <div class="ui message">
                New to us? <a asp-controller="Account" asp-action="Register">Sign Up</a>
            </div>
        </div>
    </div>
    <div class="row"></div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/login.js" asp-append-version="true"></script>
}
